.splash-container{
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.under-nav{
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #274472;
    background-size: 80% 50%;
    background-repeat: no-repeat;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
}

.splash-words{
    height: 20%;
    width: 960px;
    font-size: 100px;
    position: absolute;
    object-fit: cover;
    color: white;
    // border: 1px solid red;
}

.splash-button{
    height: 50px;
    width: 200px;
    border-radius: 8px;
}


.section1{
    height: 30%;
    width: 100%;
    border: solid 1px blue;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-box1-header{
    font-size: 60px;
}

.section1-box1-p{
    font-size: 26px;
}

.section1-box1{
    width: 40%;
    height: 80%;
    border: solid 1px red;
}

.section1-box2{
    border-radius: 22px;;
    width: 40%;
    height: 80%;
    background: url('giphy.gif');
    background-repeat: no-repeat;
    background-size: 70% 80%;
}

.section2{
    height: 40%;
    width: 100%;
    border: solid 1px purple;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-box1{
    width: 40%;
    height: 80%;
    border: solid 1px red;
    border-radius: 22px;
}

.section2-box2{
    width: 40%;
    height: 80%;
    border: solid 1px red;
}

.section3{
    height: 40%;
    width: 100%;
    border: solid 1px green;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-box1{
    width: 40%;
    height: 80%;
    border: solid 1px red;
    margin-right: 15px;
}

.section3-box2{
    border-radius: 22px;;
    width: 40%;
    height: 80%;
    border: solid 1px red;
    margin-left: 15px;
}