.splash-container{
    height: 2500px;
    width: 100%;
    border: red 1px solid;
    justify-content: center;
    padding-top: 20px;
    background-color: black;
    flex-direction: row;
}

.splash-header{
    height: 200px;
    width: 60%;
    text-align: center;
}

.header{
    margin-top: 50px;
    font-size: 60px;
    color: white; 
}

.p{
    font-size: 30px;
    color: white; 
    margin-top: 20px;
}

.splash-sign-up{
    margin-top: 20px;
    height: 40px;
    width: 160px;
    border-radius: 8px;
    color: white;
    background-color: #7856ff;
    border: none;

    &:hover{
        color: black;
        background-color: white;
    }
}

.splash-pic-container{

}

.splash1{
    
}

.splash-pic{
    height: 600px;
    width: 90%;
    border-radius: 16px;
    background-color: white;
    border: none;
    box-shadow: (0,0,0,.25) 0px 1px 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.splash-bottom-container{
    height: 1000px;
    width: 90%;
    border: 1px solid red;
}

.splash-footer{
    height: 600px;
    width: 90%;
    border: 1px solid red;
}