
.commentInput{
    margin: 0px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    // padding: 5px 0;
}

textarea{
    resize: none;
    border-radius: 8px;
    font: inherit;
    padding: 8px;
    &:focus-visible {
        outline: none;
    }
}

.add-comment{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: none;
    &:hover{
        background-color: #7856FF;
        color: white;
        cursor: pointer;
    }
}

.button-container{
    align-items: center;
    display: flex;
    // min-height: 30px;
    flex-direction: row;
    float: right;
    height: auto;
    // padding: 0 5px;
    .deleteComment{
        cursor: pointer;
        color: rgb(198, 198, 198);
        font-size: 16px;
        margin-left: 5px;
    }
    
}

.comment-body-container{
    width: 100%;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    // margin-bottom: 10px;
    justify-content: center;
    border: none;
    // border-bottom: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2c2c2e;
    border-radius: 10px;
    color: white;
    margin: 7px auto;
}

.editComment{
    cursor: pointer;
    color: rgb(198, 198, 198);
    font-size: 14px;
}

.comment-container{
    overflow: scroll;
    height: inherit;
    flex-direction: column;
    margin-bottom: 5px;

    > form{
        padding: 12px 5px 5px;
    }
}

.all-comments{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-holder{
    align-items: center;
    display: flex;
    color: rgb(198, 198, 198);
    font-size: 14px;
    width: 100%;
    justify-content: space-between;
  .comment-body{
          align-items: center;
          box-sizing: border-box;
          background-color: transparent;
          color: $white;
          display: flex;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          min-height: 30px;
          padding: 0 0 0 2px;
          max-width: 80%;
          width: 100%;

          > div{
            box-sizing: border-box;
            padding-right: 5px;
            max-width: 100%;

            // width: inherit;
            overflow-wrap: break-word;
          }
  }

}

.edit-cancel-form{
    align-items: center;
    display: flex;
    color: rgb(198, 198, 198);
    cursor: pointer;
    font-size: 14px;
    width: 100%;

    // min-height: 30px;
    // flex-direction: row;
    // float: right;
    // justify-content: space-around;}

    .edit-body{
          border: none;
          box-sizing: border-box;
          background-color: rgba(150, 150, 150, 0.1);
          border-radius: 20px;
          color: $white;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          min-height: 30px;
          padding: 8px;
          width: 100%;
          
          // height: 20px;
          // width: auto;
          // width: 80%;
          // border: 2px solid #e8e5e5;
          // background-color: $white;
          // border-radius: 10px;
          // height: 30px;
          // padding: 5px 8px;
          // &:focus-visible {
          //   color: #2c2c2e;
          //   outline: none;
          // }

          &:focus{
            border: none;
            outline: none;
          }
    }

    .editComment{
      margin-left: 10px;
    }

    .cancelComment{
        font-size: 16px;
        margin-left: 5px;
    }


}