$purple: #7856FF;
$black: #1f1f24;
$white: #f6f6f6;
$lightgray: rgb(238, 230, 230);
$dark-purple: #7f62f2;
.modal-child.ws {
  background: transparent;
  transform: translateY(0px);
  animation: slideup 200ms ease-in;
  position: absolute;
  // bottom: 0;
  left: 43.5%;
  // bottom: 10%;
}
@keyframes slideup {
  0% {
    transform: translateY(350px);
  }

  50% {
    // transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
.modal-form.ws {
   color: white;
   position: relative;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  // padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: $black;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  h2 {
    font-weight: 300;
    font-size: 15px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  input {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    padding: 5px 8px;
    &:focus-visible {
      outline: none;
    }
  }
  .create-btn {
    border: none;
    background-color: $purple;
    color: white;
    width: 50%;
    height: 20px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: $dark-purple;
    }
  }
}

.ws{
  .close-button{
    top: 5px;
    right: 5px;
    padding: 0;
    margin: 0;

    button{
      margin: 0;

      &:hover{
        color: $lightgray;
      }
    }
  }
}