.modal-folder{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(86, 86, 86, 0.9);
    z-index: 10;

    .modal-folder-child {
        box-shadow: 0 2px 4px rgba( 0, 0, 0, .1), 0 8px 16px rgba( 0, 0, 0, 0.1);
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f1f24;
        height: 650px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;

        .modal-form-folder{
            width: 90%;
            height: 98%;

            .folder-container{
                width: 100%;
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2%;

                .left-tweet{
                    width: 70%;
                    height: 100%;  
                    // border-radius: 22px; 
                    background-color: #1f1f24;
                    overflow: scroll;
                    
                    .tweet-container{
                        width: 95%;
                        height: 95%;
                    }
                }
                
                .right-comments{
                    width: 35%;
                    height: 100%; 
                    margin-left: 2%;
                }
            }
        }
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 0;
    button {
      right: 0;
      margin-right: 10px;
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: #747474;
    }
  }



 .tweet {
      animation: all 4s ease-in;
      padding: 10px 15px;
      background-color: #2c2c2e;
      border-radius: 10px;
      color: white;
      transition: 0.3s ease-out;
      transform: translateY(2px); 
      margin: 13px auto;
      list-style: none;

      &:hover{
            transform: translateY(-2px);
            box-shadow:rgba(255, 255, 255, 0.8) 0px 1px 8px;
            transition: 0.3s ease-out;
      }
      .tweet-head {
        margin-bottom: 12px;
        img {
          width: 25px;
          height: 25px;
          border-radius: 100px;

        }
        a {
          font-weight: 100;
          font-size: 11px;
        }
      }
      .tweet-body {
        // padding: 10px 15px;
        background-color: #2c2c2e;
        border-radius: 10px;
        color: white;
        transition: 0.3s ease-out;
        transform: translateY(2px); 
        margin: 13px auto;
      }

      .tweet-close-button{
        top: 10px;
        right: 10px;
        position: absolute;
        color: white;

        &:hover{
          cursor: pointer;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }




