.nav-bar {
  position: sticky;
  top: 0;
  width: max-width;
  // border: 1px solid red;
  z-index: 100;
  box-shadow: 0px 5px 8px -10px rgba(0, 0, 0, 0.8);
  padding: 8px 10px;
  height: 60px;
  background-color: #274472;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  .links {
    a {

      color: white;
    }
    
    // wrap
  }
}
.links {
  display: none;
}
.nav-menu:hover {
  .links {
    display: block;
  }
}

